.happy{
    font-weight: normal;
    font-size: 32px;
    color: #FFFFFF;
}
.party{
    font-weight: bold;
    font-size: 72px;
    color: #FFFFFF;
    margin-top: 22px;
    
   
}
.first-project{
    background:rgba(0,0,0,0.7)url(../images/resources/Banner\ Image.png);
    background-blend-mode: darken;
    width: 1320px; height: 600px;
    margin: 50px 140px 120px 140px;
    border-radius: 16px;
    


}
.new-year-title-section{
    text-align: center;
    padding: 160px 344px;
  

    
}
.first-title{
    font-weight: bold;
    font-size: 88px;
    color: #FF0000;
    margin-bottom: 48px;
}
.second-title{
    font-weight: normal;
    font-size: 24px;
    color:#FF0000;
    margin-bottom: 16px;
}
.third-title{
    font-weight: bold;
    font-size: 48px;
    color: #070211;
    margin-top: 16px;
}

 
.off-rafi{
padding-left: 609px;
padding-right: 608px;
}

  
   

img{
    width: 800px;
    height: 500px;

}
.image{
        margin-bottom: 120px;
        margin-left: 400px;
        margin-right: 397px;
       
    }

   

   

.Third-project{
    background:rgba(0,0,0,0.7)url(../images/resources/Vectorrr.png);
    background-blend-mode: darken;
    width: 1334px;
    height:602px ;
    margin-right: 140px;
    margin-left: 126px;
    border-radius: 16px;
    margin-bottom: 120px;
    
}


.midnight{
    font-weight: bold;
    font-size: 64px;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.dolor{
    font-weight: normal;
    font-size: 18px;
    color: #FFFFFF;
   
    
}
.long-jump{
    width: 319px;
    height: 464px;
    padding-top: 66px;
    padding-right: 124px;
    padding-bottom: 69px;
   
    
}
.twenty-four{
   display: flex;
   justify-content: space-between;
}
.only-left{
    padding-top: 124px;
    padding-left: 140px;
}
.buton-rock{
    margin-left: 40px;
}
.fourth-project{
    margin-left: 140px;
    width: 1320px;
    height: 420px;
   
   border-radius: 16px;
   margin-bottom: 124px;
}
.address{
    text-align: center;
    padding: 100px 386px 110px 385px;
}
.hotel{
    font-weight: 600px;
    font-size: 32px;
    color: #070211;
}
.green{
    color: #FF0000;
}
.rafi{
    width: 167px;
    height: 56px;
    font-weight: 600px;
    font-size: 18px;
background-color: #FF0000;
border-radius: 8px;
color: #FFFFFF;}

.fifth-project{
    width: 1320px;
    height: 470px;
    
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 120px;
}
.best{
    font-weight: normal;
    font-size: 24px;
    color: #FF0000;
    margin-top: 110px;
}
.soon{font-weight: bold;
    font-size: 48px;
    color: #070211;
    margin-top: 16px;

}
  .eget{
    font-weight: normal;
    font-size: 20px;
    color: #070211;
    margin-top: 22px;
  }
  .egg{
    width: 364.84px;
    height: 364.84px;
   
}
img.egg{
    border-radius: 50%;
    border: 20px solid red;
    padding: 49px ;
}
    
  

.rakib{
    font-weight: bold;
    font-size: 48px;
    color: #FF0000;
    margin-top: 110px;
}
img.group-96{
    width: 140px;
    height: 140px;
}
.all-title{
    display: flex;
    justify-content: space-between;
}
.sale{
    font-weight: bold;
    font-size: 72px;
    color: #070211;
    margin-bottom: 30px;
    margin-top: 20px;
   
}
.function{
    font-weight: normal;
    font-size: 24px;
    color: #070211;
   

}
   
.holiday{
    color: #FF0000;
}
.sixth-project{
    margin-left: 140px;
    margin-right: 140px;
    width: 1320px;
    height: 987px;
     background: url(../images/resources/Rectangle\ 2.png);
    background-position: bottom;
    background-repeat: no-repeat;
    border-radius: 16px;
    margin-bottom: 120px;
    
    
    
   
}
.shekhor{
    text-align: center;
}
.live{
    font-weight: normal;
    font-size: 20px;
    color: #070211;
   
}
.image-rafi{display: flex;
   
}
.box{
    width: 674px;
    height: 577px;
    margin-top: 70px;
    im
}
.discount{
    width: 220px;
    height: 220px;
    margin-top: 120px;
   
}
.girl{
    width: 429px;
    height: 433px;
    margin-top: 38px;
}

   

    
