.happy{
    font-weight: normal;
    font-size: 32px;
    color: #FFFFFF;
}
.party{
    font-weight: bold;
    font-size: 72px;
    color: #FFFFFF;
    margin-top: 22px;
    
   
}
.first-project{
    background:rgba(0,0,0,0.7)url(../images/resources/Banner\ Image.png);
    background-blend-mode: darken;
    width: 1320px; height: 600px;
    margin: 50px 140px 120px 140px;


}
.new-year-title-section{
    text-align: center;
    padding: 160px 344px;
  

    
}
.first-title{
    font-weight: bold;
    font-size: 88px;
    color: #FF0000;
    margin-bottom: 48px;
}
.second-title{
    font-weight: normal;
    font-size: 24px;
    color:#FF0000;
    margin-bottom: 16px;
}
.third-title{
    font-weight: bold;
    font-size: 48px;
    color: #070211;
    margin-top: 16px;
}
.off-rafi{
    text-align: center;
}
img{
    width: 800px;
    height: 500px;

}
.image{
    margin-bottom: 120px;
}
